li{
    list-style-type: none;
}
.w-full{
    width: 100%;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.flex-wrap{
    flex-wrap: wrap;
}
.max-w-800{
    max-width: 800px;
}
.container-sidebar{
    width:33.333333%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-image:linear-gradient(rgba(0, 157, 248, 0.6), rgba(0, 0, 0, 0.6)),url('../../foto/foto-sidebar.jpg');
    background-position: center;
    background-size: cover;
}
.image-about{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
}
.wrapper-image-about{
    padding-top: 40%;
    width: 80%;
    margin: 20px auto;
    background: #02c4ff;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 2px 10px 43px 3px rgba(255,255,255,0.75);
}
.nav-sidebar{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}
.container-todolist{
    width:66.666667%;
    padding: 30px;
    background: #02c4ff;
}
.mx-auto{
    margin: 0 auto;
}
.p-10{
    padding: 10px;
}
.list{
    padding: 20px;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    transition: all 1s;
    background: white;
}
.container-root{
    display: flex;
    flex-direction: row;
}
.not-yet{
    box-shadow: 1px 1px 2px 2px rgb(14, 4, 151);
    color: rgb(14, 4, 151);
}
.finished{
    box-shadow: 1px 1px 2px 2px rgb(221, 0, 0);
    color: rgb(221, 0, 0);
    text-decoration: line-through;
}
.my-todo-app{
    color: white;
    margin-bottom: 20px;
}
.navbar{
    height: 80px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    position: sticky;
    top: 0;
    padding: 0 20px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}
.input-list{
    outline: none;
    width: 80%;
    padding: 10px 20px;
    background: white;
    border: 1px solid grey;
    border-radius: 20px;
    transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 1px 4px 4px 1px rgb(0, 121, 158);
}
.input-list:focus{
    box-shadow: 2px 2px 4px 2px rgb(112, 0, 240);
}
.checkbox{
    height: 25px;
    width: 25px;
}
.danger{
    color: red;
    padding: 10px 18px;
    background: white;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    align-self: flex-start;
    bottom: 10px;
    right: 18px;
}
.trash{
    height: 24px;
    margin-left: 15px;
    cursor: pointer;
}
.flex-1{
    flex-grow: 1;
}
.flex-0{
    flex-grow: 0;
}
.hamburger{
    transition: all 0.5s;
    position: fixed;
    top: 15px;
    left: 15px;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
}
.bg-white{
    background: white;
}
.bg-blue{
    background: #02c4ff;
}
.hamburger-line{
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
}
.hamburger-white{
    stroke: #ffffff;
}
.hamburger-blue{
    stroke:#02c4ff;
}
.link-sidebar{
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
    color: rgb(2, 196, 255);
    margin: 5px 0;
}
.text-about{
    color: white;
    font-family: cursive;
    font-size: 20px;
    margin-top: 30px;
}
@media(max-width:900px){
    .text-about{
        font-size: 16px;
    }
    .container-root{
        flex-direction: column;
        position: relative;
    }
    .container-todolist{
        background: #02c4ff;
        min-height: 400px;
        width: 100%;
        position: absolute;
        top: 225px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding: 30px 50px;
    }
    .container-sidebar{
        width: 100%;
        position: static;
        height: 250px;
    }
    .danger{
        padding: 8px 15px;
    }
}