@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto',serif !important;
    color: #19345E;
}
.fw-400{
    font-weight: 400;
}
.h-75{
    height: 75%;
}
.border-message{
    border: 1px solid #ced4da;
}
.border-bawah{
    border:1px solid #CCD7EB;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.message{
    font-size: 16px;
}
.margin-detail{
    width: 160px;
}
p{
    margin: 0;
}
.p-45{
    padding: 40px;
}
.shadow-custom{
    box-shadow: 0 1px 3px -1px #000;
}
.footer-message{
    height: 190px;
    background-color:#EDF6FF;
    z-index: -1;
}
.thanks-message{
    font-size: 20px;
}
.bg-alterra-color-orange{
    background-color: #f47522 !important;
}
.dot-image{
    width: 90px;
    position: relative;
    left: 21%;
    top: 65px;
}
@media screen and (max-width: 1200px) {
    .h-75{
        height: 90% !important;
    }
}
@media screen and (max-width: 600px) {
    .message{
        font-size: 12px;
    }
    .margin-detail{
        width: 100px;
    }
    * {
        font-size: 12px;
    }
    .h-75{
        height: 70% !important;
    }
}