.shadow-card-news{
    box-shadow: 0 1px 3px rgb(0 0 0 / 13%), 0 1px 2px rgb(0 0 0 / 13%);
    transition: all 0.2s;
}
.shadow-search{
    box-shadow: 0 1px 3px rgb(0 0 0 / 13%), 0 1px 2px rgb(0 0 0 / 13%);
}
.shadow-card-news:hover{
    transform: scale(1.04);
}